{% extends '@NdewezWebHomeCommon/base.html.twig' %}

{% import "@NdewezWebHomeCommon/macros/forms.html.twig" as forms %}

{% block title %}{{ parent() }} - {{ 'calendars.title.edit'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ include('NdewezWebHomeCommonBundle::breadcrumb.thml.twig', {
            'links': [
                {'title': 'home.title.home', 'route': 'app_home'},
                {'title': 'calendars.title.list', 'route': 'app_calendars_list'},
                {'title': 'calendars.title.edit', 'active': true},
            ]
        })
    }}
{% endblock %}

{% block body %}

    <h2>{{ 'calendars.title.edit'|trans }}</h2>

    {{ form_start(form) }}
        {{ form_row(form.title)}}
        {{ form_row(form.active)}}

        {{ forms.buttons(form, ['submit', 'delete']) }}
    {{ form_end(form) }}

{% endblock %}
