{% extends '@NdewezWebHomeCommon/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'google_calendars.title.add'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ include('NdewezWebHomeCommonBundle::breadcrumb.thml.twig', {
            'links': [
                {'title': 'home.title.home', 'route': 'app_home'},
                {'title': 'google_calendars.title.list', 'route': 'app_google_calendars_list'},
                {'title': 'google_calendars.title.add', 'active': true},
            ]
        })
    }}
{% endblock %}

{% block body %}
    <h2>{{ 'google_calendars.title.add'|trans }}</h2>

    {{ form(form) }}

{% endblock %}
