{% extends '@NdewezWebHomeCommon/base.html.twig' %}

{% import "@NdewezWebHomeCommon/macros/links.html.twig" as links %}
{% import "@NdewezWebHomeCommon/macros/icons.html.twig" as icons %}

{% block title %}{{ parent() }} - {{ 'google_calendars.title.list'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ include('NdewezWebHomeCommonBundle::breadcrumb.thml.twig', {
            'links': [
                {'title': 'home.title.home', 'route': 'app_home'},
                {'title': 'google_calendars.title.list', 'active': true},
            ]
        })
    }}
{% endblock %}

{% block body %}
    <h2>{{ 'google_calendars.title.list'|trans }}</h2>

    <table class="appGoogleCalendarsList">
        <thead>
            <tr>
                <th>{{ 'google_calendars.label.title'|trans }}</th>
                <th>{{ 'google_calendars.label.calendar'|trans }}</th>
                <th>{{ 'google_calendars.label.active'|trans }}</th>
                <th>{{ 'actions.label'|trans }} {% if is_granted('ROLE_CALD_GOOGL_ADD') %}{{ links.plus('google_calendars.title.add'|trans, path('app_google_calendars_add')) }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
        {% for googleCalendar in googleCalendars %}
            <tr>
                <td>{{ googleCalendar.title }}</td>
                <td>{{ googleCalendar.calendar.title }}</td>
                <td class="appGoogleCalendarsList-active">
                    {{ icons.active("", googleCalendar.active) }}
                    {{ icons.deactive("", not googleCalendar.active) }}
                </td>
                <td class="appGoogleCalendarsList-actions">
                    {% if is_granted('ROLE_CALD_GOOGL_EDIT') %}
                        {{ links.edit('actions.edit'|trans, path('app_google_calendars_edit', {'id': googleCalendar.id})) }}
                    {% else %}
                        {{ links.show('actions.show'|trans, path('app_google_calendars_show', {'id': googleCalendar.id})) }}
                    {% endif %}

                    {% if is_granted('ROLE_CALD_GOOGL_ACTIV') %}
                        {{ links.deactive('actions.deactivate'|trans, null, path('app_google_calendars_deactivate', {'id': googleCalendar.id}), googleCalendar.active) }}
                        {{ links.active('actions.activate'|trans, null, path('app_google_calendars_activate', {'id': googleCalendar.id}), not googleCalendar.active) }}
                    {% endif %}

                    {% if is_granted('ROLE_CALD_GOOGL_DEL') %}
                        {{ links.delete('actions.delete'|trans, null, path('app_google_calendars_delete', {'id': googleCalendar.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <th colspan="4" class="text-center">{{ 'table.no_element'|trans }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        new GoogleCalendarsList($('.appGoogleCalendarsList'));
    </script>
{% endblock %}
